# Ignore wp-config.php and .htaccess
wp-config.php
.htaccess

/vendor

# Ignore the wp-content directory
wp-content/plugins/*
!wp-content/plugins/oe-ng-filter
wp-content/themes/*
!wp-content/themes/oe-brixton
wp-content/themes/oe-brixton/node_modules
